<configuration>
  <config>
    <!-- CHANGE THIS PATH BELOW to any empty folder. NuGet will cache things here, and that's convenient because you can delete it to reset things -->
    <add key="globalPackagesFolder" value="/tmp/v512-bench" />
  </config>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <!-- This feed is for any packages you didn't build. See https://github.com/dotnet/installer#installers-and-binaries -->
    <!-- CHANGE THIS PATH BELOW to your local output path -->
    <add key="local runtime" value="/home/acanino/Projects/dotnet/runtime/artifacts/packages/Debug/Shipping" />

    <add key="dotnet7" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet7/nuget/v3/index.json" /> 
  </packageSources>
</configuration>
